:root{
	--bcolor: light-dark(white,black);
	--tcolor: light-dark(black,white);
}
@media (prefers-color-scheme: dark){
	html{color-scheme: dark};
}

body{
	color: var(--tcolor);
	background-color: var(--bcolor);
}

div#setting{

}
div#setting label{
	width: 5em;
	text-align: right;
}
div#setting input[type=range]{
	width: 20em;
	vertical-align: middle;
	margin-right: 0.5em;
}